
body {
    background: #f1f1f1;
    border-top: 10px solid #999999;
    font-size: 12pt;
}

#mainbody {
    margin-left: auto;
    margin-right: auto;
    width: 60em;
}

#topbar {
    top: 0;
    left: 0;
    bottom: 0;
    width: 60em;
    background: url("../images/header-bg.jpg") no-repeat;
    border-top: 10px solid #ff6600;
    margin-top: -10px;
    float: left;
}

#topbar.front-page {
    height: 13em;
}

#topbar #logo {
  position: relative;
  top: 85px;
  left: 20px;
}

#topbar #small-logo {
    position: relative;
    left: 20px;
    padding: 0.1em 0 0.1em 0;
    height: 3em;
}

#sidebar {
    float: left;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 2em 0.5em 0 0.5em;
    width: 9em;
}

div.main-page.content {
    float: left;
    width: 35em;
}

div.main-page.news {
    float: right;
    width: 20em;
}

div.main-page.news h2 {
    border-top: 10px solid #ff6600;
    border-bottom: 1px solid #333333;
    color: #333333;
    padding: 0.5em;
    margin: 0;
}

div.main-page.news ul {
    margin: 0;
    list-style: none;
    list-style-image: none;
}

div.main-page.news ul li {
    border-bottom: 1px solid #333333;
    padding: 0.5em;
    color: #777777;
}

div.main-page.news ul li a {
    font-weight: bold;
}

div.news-page.news-item {
    border-top: 1px solid #777777;
    width: 100%;
    padding: 0;
    margin: 0;
}

#content {
    margin: 0px;
    padding: 2em 1em;
    font-family: verdana;
    color: #40494d;
    background-color: #fff;
    width: 100%;
    max-width: 60em;
    display: block;
    float: left;
}

#content #buttons a {
  background: #ff6600;
  color: #333333;
  font-family: "canada-type-gibson";
  text-transform: uppercase;
  font-size: 15px;
  display: inline-block;
  padding: 8px 25px;
  margin: 10px 20px 10px 0;
}

#footer {
  background: #999999;
  margin-bottom: 60px;
  width: 100%;
  float: left;
  padding: 0.5em 1em;
}
#footer #footer-inner {
  height: 2em;
  background: url("../images/footer-icon.svg") no-repeat right center;
}
#footer #footer-inner a {
  color: white;
  font-size: 14px;
}
@media (min-width: 0em) and (max-width: 63.9375em) {
  #footer #footer-inner {
    padding: 10px 20px;
    background-position: right 20px center;
  }
}
@media (min-width: 64em) {
  #page-wrapper #page #footer-inner {
    -sgs-span-settings: ("span": 3, "location": 2, "grid": 20px 630px 20px 310px 20px, "gutter": 0.25, "style": "opposite", "start row": false, "end row": false, "fixed gutter": true, "split gutter": false, "gutter property": "padding", "options": (("both": null)));
    width: 96%;
    float: left;
    margin-right: -100%;
    margin-left: 2%;
    clear: none;
    padding-right: 0.25;
  }
}
@media (min-width: 0em) and (max-width: 63.9375em) {
  #page-wrapper #page #footer-inner {
    -sgs-span-settings: ("span": 1, "location": 1, "grid": 1, "gutter": 0.25, "style": "opposite", "start row": true, "end row": true, "fixed gutter": false, "split gutter": false, "gutter property": "margin", "options": ((null: null)));
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

ul {
    font-family: sans-serif;
    list-style-type: square;
    padding: 0 0 0 0;
    margin: 0.3em 0 0 1.5em;
}

.site-menu {
    color: #a0a0a0;
}

a.site-menu:hover {
    color: #4048c0;
}

a {
    color: #ff6600;
    text-decoration: none;
}

a:hover {
    color: #ff6600;
    text-decoration: underline;
}

p {
    margin: .4em 0 .5em 0;
    line-height: 1.5em;
}

h1 {
    color: #ff6600;
    font-family: "canada-type-gibson";
    font-weight: normal;
    font-size: 190%;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    color: #ff6600;
    font-family: "canada-type-gibson";
    font-size: 130%
}

h3 {
    color: #ff6600;
    font-weight: bold;
    font-size: 90%
}

.t_projects th {
    background-color: #DBEBFF;
}

.t_projects table, th, td {
    border: 1px solid #ccc;
    font-size: 80%;
}


/* TODO: Consider css for
 *
 * .posts .site .header .title .meta .footer .contact .rss .post
 */
