<h1>Welcome to the open source community of UEFI</h1>
<p>This is the community site surrounding the open source components of Intel's implementation of UEFI. Our EDK II is a modern, feature-rich, cross-platform firmware development environment for the UEFI and PI specifications. We hope that you'll delve into our work, get excited to use Tianocore, and contribute to the community.</p>

<p>You'll notice as you explore that most of our content is housed on the Tianocore GitHub wiki. This helps us to keep things manageable and allows our community to make edits themselves.</p>

<div id="buttons">
  <a href="https://github.com/tianocore/tianocore.github.io/wiki/How_To_Contribute" target="_blank">How to Contribute</a>
  <a href="https://github.com/tianocore/tianocore.github.io/wiki/Getting_Started" target="_blank">Getting Started</a>
</div>
