<a href="{{baseurl}}/about.html" style="white-space:nowrap;">About</a> |
<a href="{{baseurl}}/legalese.html" style="white-space:nowrap;">Legal</a> |
<a href="{{baseurl}}/faq.html" style="white-space:nowrap;">FAQ</a> |
<a href="{{baseurl}}/contrib" style="white-space:nowrap;">How to Contribute</a> |
<a href="{{baseurl}}/coc.html" style="white-space:nowrap;">Code of Conduct</a> |
<a href="{{wiki}}/How-to-Search" style="white-space:nowrap;">Search</a> |
<a href="{{wiki}}/Home" style="white-space:nowrap;">Wiki home</a>