<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.github.url }}/pkg/bootstrap/css/bootstrap.min.css" >
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{{ site.github.url }}/pkg/bootstrap/js/bootstrap.min.js"></script>
        <script src="{{ site.github.url }}/pkg/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
        <link rel="stylesheet" href="{{ site.github.url }}/css/main.css" >
    </head>
    <body>
