<div class="tcLogoArea tcWideOnly" style=""><a href="{{baseurl}}/"><img src="{{baseurl}}/images/logo2.svg" style="margin-top:108px;" /></a></div>
<div class="tcMenu">
	<ul>
		<li class="tcMenuItem {% if page.id == 'home2' %}tcMenuItemSelected{% endif %}"><span class="tcMenuMarker" style=""></span><a href="{{baseurl}}/">What is TianoCore?</a></li>
		<li class="tcMenuItem {% if page.id == 'gettingStarted' %}tcMenuItemSelected{% endif %}"><span class="tcMenuMarker" style=""></span><a href="{{baseurl}}/getting-started.html">Getting Started</a></li>
		<li class="tcMenuItem {% if page.id == 'documentation' %}tcMenuItemSelected{% endif %}"><span class="tcMenuMarker" style=""></span><a href="{{baseurl}}/docs">Documentation</a></li>
		<li class="tcMenuItem"><span class="tcMenuMarker" style=""></span><a href="https://github.com/tianocore/tianocore.github.io/wiki/Reporting-Issues" target="_blank">Reporting Issues</a></li>
		<li class="tcMenuItem {% if page.id == 'howToContribute' %}tcMenuItemSelected{% endif %}"><span class="tcMenuMarker" style=""></span><a href="{{baseurl}}/contrib">How to Contribute</a></li>
		<li class="tcMenuItem"><span class="tcMenuMarker" style=""></span><a href="https://github.com/tianocore/tianocore.github.io/wiki/Acknowledgements" target="_blank">Acknowledgements</a></li>
		<li class="tcMenuItem {% if page.id == 'CommunityMeetings' %}tcMenuItemSelected{% endif %}"><span class="tcMenuMarker" style=""></span><a href="{{baseurl}}/community-meetings">Community Meetings</a></li>
		<li class="tcMenuItem {% if page.id == 'news' %}tcMenuItemSelected{% endif %}"><span class="tcMenuMarker" style=""></span><a href="{{baseurl}}/news">Latest News</a></li>
	</ul>
	<ul class="tcNarrowOnly tcNarrowMenuFooterItems">
		<li class="tcMenuItem"><span class="tcMenuMarker" style=""></span><a href="{{baseurl}}/about.html">About</a></li>
		<li class="tcMenuItem"><span class="tcMenuMarker" style=""></span><a href="{{baseurl}}/legalese.html">Legal</a></li>
		<li class="tcMenuItem"><span class="tcMenuMarker" style=""></span><a href="{{baseurl}}/docs/member-faq.html">FAQ</a></li>
		<li class="tcMenuItem"><span class="tcMenuMarker" style=""></span><a href="{{baseurl}}/coc.html">Code of Conduct</a></li>
	</ul>
	<ul>
		<li class="tcMenuItem" style="padding-left:0;">
			<table class="tcSocialIcons">
				<tr>
					<td style="text-align:center;"><a href="{{twitter}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></td>
					<td style="text-align:center;"><a href="{{youtube}}" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></td>
					<td style="text-align:center;"><a href="mailto:{{discusemail}}?Subject=Website" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></td>
					<td style="text-align:center;"><a href="{{baseurl}}/news/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i></a></td>
				</tr>
			</table>
		</li>
	</ul>
</div>