    <div id="navigation">
        <div class="dropdown pull-left">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <div class="main-link first pull-left">
              <img id="projects" class="svg" src="{{baseurl}}/images/projects.svg" /><div class="link-text pull-right">Projects</div>
            </div>
          </a>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="{{baseurl}}/udk/udk2015/">UDK2015</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/edk2">EDK II</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="{{baseurl}}/projects.html">Projects</a></li>
          </ul>
        </div>
        <div class="dropdown pull-left">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <div class="main-link middle pull-left">
              <img id="projects" class="svg" src="{{baseurl}}/images/information.svg" /><div class="link-text pull-right">Community<br>Information</div>
            </div>
          </a>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="{{baseurl}}/about.html">About the Community</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/uefi">UEFI</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/news/">Community News</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/security/">Security Advisory</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/admins.html">Contact Community Admins</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/legalese.html">Legalese</a></li>
            <!--
            <li class="divider"></li>
            <li><a tabindex="-1" href="{{wiki}}/Community-Information">More...</a></li>
            -->
          </ul>
        </div>
        <div class="dropdown pull-left">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <div class="main-link right pull-left">
              <img id="projects" class="svg" src="{{baseurl}}/images/support.svg" /><div class="link-text pull-right">Community<br>Support</div>
            </div>
          </a>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="{{baseurl}}/contrib/">How to Contribute</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/contrib/getting-started.html">Getting Started</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/training/">Training</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/docs/">Documents</a></li>
            <li><a tabindex="-1" href="{{wiki}}/Reporting-Issues">Reporting Issues</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/docs/member-faq.html">FAQs</a></li>
          </ul>
        </div>
    </div>
