<ul id="main-nav">
  <li class="main-link first">
    <a href="javascript:void(0)">
      <img id="products" class="svg" src="images/products.svg" /><div class="link-text">Projects</div>
    </a>
    <ul class="sub-menu">
      <li class="sub-link">
        <a href="https://github.com/tianocore/tianocore.github.io/wiki/UDK2014-Releases" target="_blank">UDK2014</a>
      </li>
      <li class="sub-link">
        <a href="https://github.com/tianocore/tianocore.github.io/wiki/EDK-II-Information" target="_blank">EDK II</a>
      </li>
      <li class="sub-link">
        <a href="https://github.com/tianocore/tianocore.github.io/wiki/Additional-Projects" target="_blank">Additional Projects</a>
      </li>
    </ul>
  </li>
  <li class="main-link middle">
    <a href="javascript:void(0)">
      <img id="information" class="svg" src="images/information.svg" /><div class="link-text">Community Information</div>
    </a>
    <ul class="sub-menu">
      <li class="sub-link">
        <a href="https://github.com/tianocore/tianocore.github.io/wiki/About-The-Community" target="_blank">About the Community</a>
      </li>
      <li class="sub-link">
        <a href="https://github.com/tianocore/tianocore.github.io/wiki/UEFI" target="_blank">UEFI</a>
      </li>
      <li class="sub-link">
        <a href="https://github.com/tianocore/tianocore.github.io/wiki/Community-News" target="_blank">Community News</a>
      </li>
      <li class="sub-link">
        <a href="https://github.com/tianocore/tianocore.github.io/wiki/Security-Advisory" target="_blank">Security Advisory</a>
      </li>
      <li class="sub-link">
        <a href="https://github.com/tianocore/tianocore.github.io/wiki/Community_Admins" target="_blank">Contact Community Admins</a>
      </li>
      <li class="sub-link">
        <a href="https://github.com/tianocore/tianocore.github.io/wiki/Legalese" target="_blank">Legalese</a>
      </li>
    </ul>
  </li>
  <li class="main-link last">
    <a href="javascript:void(0)">
      <img id="support" class="svg" src="images/support.svg" /><div class="link-text">Community Support</div>
    </a>
    <ul class="sub-menu">
      <li class="sub-link">
        <a href="https://github.com/tianocore/tianocore.github.io/wiki/How_To_Contribute" target="_blank">How to Contribute</a>
      </li>
      <li class="sub-link">
        <a href="https://github.com/tianocore/tianocore.github.io/wiki/Getting_Started" target="_blank">Getting Started</a>
      </li>
      <li class="sub-link">
        <a href="https://github.com/tianocore/tianocore.github.io/wiki/Training" target="_blank">Training</a>
      </li>
      <li class="sub-link">
        <a href="https://github.com/tianocore/tianocore.github.io/wiki/Documents" target="_blank">Documents</a>
      </li>
      <li class="sub-link">
        <a href="https://github.com/tianocore/tianocore.github.io/wiki/Reporting_Issues" target="_blank">Reporting Issues</a>
      </li>
      <li class="sub-link">
        <a href="https://github.com/tianocore/tianocore.github.io/wiki/Member_FAQ" target="_blank">FAQs</a>
      </li>
    </ul>
  </li>
</ul>
