<h2>Community News</h2>
<ul>
  <li>
    <a href="https://github.com/tianocore/tianocore.github.io/wiki/Site-Changes-Under-Construction" target="_blank">Site Changes Under Construction</a>
    <div class="date">May 1, 2015</div>
  </li>
  <li>
    <a href="https://github.com/tianocore/tianocore.github.io/wiki/EDK-II-Specifications-updates-V1.24" target="_blank">EDK II Specifications updates V1.24</a>
    <div class="date">April 15, 2015</div>
  </li>
  <li>
    <a href="https://github.com/tianocore/tianocore.github.io/wiki/UDK2014.SP1.P1-Release" target="_blank">UDK2014.SP1.P1 Release</a>
    <div class="date">January 20, 2015</div>
  </li>
</ul>
<a href="https://github.com/tianocore/tianocore.github.io/wiki/News-Archive" target="_blank" class="more-news">more Community News »</a>
