    <div id="mainbody">

    <div id="topbar">

      <a href="{{baseurl}}/"><img id="logo" src="{{baseurl}}/images/logo.svg" /></a>

      <div class="dropdown pull-right" style="float: right; margin-top: 1em;">
        <div class="dropdown pull-left">
          <a href="#" class="site-menu" data-toggle="dropdown">Projects</a>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="{{baseurl}}/udk2014/">UDK2014</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/edk2">EDK II</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="{{wiki}}/Additional-Projects">All Projects</a></li>
          </ul>
        </div>
        <div class="site-menu pull-left">&nbsp;~&nbsp;</div>
        <div class="dropdown pull-left">
          <a href="#" class="site-menu" data-toggle="dropdown">Information</a>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="{{wiki}}/About-The-Community">About</a></li>
            <li><a tabindex="-1" href="{{wiki}}/Getting-Started">Getting Started</a></li>
            <li><a tabindex="-1" href="{{wiki}}/Member-FAQ">FAQ</a></li>
            <li><a tabindex="-1" href="{{wiki}}/Documents">Documents</a></li>
            <li><a tabindex="-1" href="{{wiki}}/Training">Training</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/security/">Security Advisory</a></li>
            <li><a tabindex="-1" href="{{wiki}}/Reporting-Issues">Reporting Issues</a></li>
            <li><a tabindex="-1" href="{{wiki}}/Legalese">Legalese</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="{{wiki}}/Community-Information">More...</a></li>
          </ul>
        </div>
      </div>

    </div>
