{% include head.html %}

    <div id="mainbody">

    <div id="sidebar">
      <center><img src="images/SidebarLogo.png"/></center>
      <br/>
      our projects
      <ul>
        <li> <a href="https://github.com/tianocore/tianocore.github.io/wiki/UDK2014">UDK2014</a>
        <li> <a href="https://github.com/tianocore/tianocore.github.io/wiki/EDK-II">EDK II</a>
      </ul>
    </div>

    <div id="content">
      <h1>{{ page.title }}</h1>

      {{ content }}

    </div>

{% include foot.html %}
