{% include head.html %}

    <div id="mainbody">

    <div id="topbar">

      <a href="./"><img src="images/SidebarLogo.png" style="float: left;" /></a>

      <h1 style="float: left; margin: 10px 1em 0 1em; font-size: 200%;">{{ page.title }}</h1>

      <div class="dropdown" style="float: right; margin-top: 1em;">
        <a href="index.html" class="dropdown-toggle"
           data-toggle="dropdown" data-hover="dropdown"
           data-delay="1000" data-close-others="false">
          Projects
        </a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="udk2014.html">UDK2014</a></li>
          <li><a tabindex="-1" href="edk2.html">EDK II</a></li>
          <li class="divider"></li>
          <li><a tabindex="-1" href="https://github.com/tianocore/tianocore.github.io/wiki/Projects">All Projects</a></li>
        </ul>
      </div>
    </div>

    <div id="content">

      {{ content }}

    </div>

{% include foot.html %}
